/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

/* Main menu */

li a.active
{
background-color: #FF4500;
}

/* Ajustes ABOUT */



.about-contents>p, .about-contents>.about-narrowed-content, .about-contents>.footnotes, .about-contents>ol, .about-contents>ul 
{    
    max-width: 800px;
}


    .about-contents>h1, .about-contents>h2, .about-contents>h3, .about-contents>h4, .about-contents>h5, .about-contents>h6 
    {
        max-width: 800px;   
    }

    /* Margin top */

    .about-contents>h2 {
        padding-top: 50px;
    }



/* Timeline section */

table#timeline>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff;
    
}


/*  Table rows' gutter Timeline & Browse */
table#timeline .row,
div#browseItems .row

{
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 2.5rem;
}

/* Image frame */
table#timeline img.img-thumbnail
div#browseItems img.card-img
{
    border: 0px
}

/* Image Zoom effect: Timeline & Browse */

img.img-thumbnail,
img.card-img-top
{
    transition: transform .2s; /* Animation */
}

/* Image Zoom effect: Timeline & Browse */
img.img-thumbnail:hover,
img.card-img-top:hover 
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


